/* Instalando Fonte para os Títulos do Portfólio*/

@font-face {
    font-family: 'skrapbook';
    src: url('../fonts/Skrapbook.eot');
    src: url('../fonts/Skrapbook.woff') format('woff'), url('../fonts/Skrapbook.woff2') format('woff2');
}


/* Fazendo Scroll da Página mais leve */

html {
    scroll-behavior: smooth;
}


/* Scrollbar Chrome */

::-webkit-scrollbar-thumb {
    background-color: #cdcdcd;
    border: 1px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #f0f0f0;
}


/* ScrollBAR Firefox */

:root {
    scrollbar-color: light;
    scrollbar-width: thin !important;
}


/* Propriedades dos Tipos de Texto */

h1 {
    font-family: skrapbook;
    font-size: 50px;
    color: #D55061;
}

h2 {
    font-family: skrapbook;
    font-size: 35px;
    color: #D55061;
}

h3 {
    font-family: skrapbook;
    font-size: 25px;
    color: #6868A8;
}

h4 {
    font-family: skrapbook;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 2px;
}

p {
    font-family: 'Livvic', sans-serif;
}


/* Configurações da Página */

@media (min-width: 1200px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 900px;
    }
}


/* Propriedades das Seções */

hr {
    border-top: 2px dashed #D55061;
    color: white;
    background-color: white;
    height: 0px;
}

.imagemFundo {
    background-image: url("../images/fundo.png");
    width: 100%;
    height: 420px;
    margin: auto 5px auto 0px;
    border-radius: 20px 20px 20px 20px;
}

.grid {
    display: grid;
    grid-template-columns: 600px 2fr;
}

.gridInformacoes {
    display: grid;
    grid-template-columns: 450px 2fr;
}

.imagemIcone {
    float: left;
    margin-right: 5px;
    height: 40px;
    margin-top: 15px;
}


/* Icones de Redes Sociais */

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.contato a {
    color: black;
    transition: text-shadow 0.5s;
}

.contato a:active,
.contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px #D55061;
}